*{
    border: 1px dashed red;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.instagrampost{
    background-color: rgb(202, 198, 198);
    width: 960px;
    height: 800px;
    margin: auto;
    margin-top: 60px; 

}

.header{
	display: flex;
	margin-left: auto;
	margin-right: auto;
    position: relative;
}

.button{
    position:absolute;
    left:98%;
    margin-top: 10px;

}

.dot{
    background-color: black;
    border-radius: 50%;
    margin-top: 5px;
}

.tag{
    padding: 10px;
}

.Nombre{
    padding: 5px;
}

img{
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
	margin-left: auto;
	margin-right: auto;
    position: relative;
}

.boton_tag{
    position:absolute;
    left:96%;
}

.button_likes, .boton_comment, .boton_sendmssg {
    padding: 5px 1px;
}